<script lang="ts">
  import { Link } from "svelte-routing";
  import Fa from "svelte-fa";
  import { faLightbulb } from "@fortawesome/free-solid-svg-icons";
  import { writable } from "svelte/store";

  export let title: string;
  const darkModeStored = localStorage.getItem("darkMode");

  const darkMode = writable(darkModeStored ? darkModeStored === "true" : false);
  darkMode.subscribe((value) =>
    localStorage.setItem("darkMode", String(value))
  );
</script>

<div class:dark={$darkMode}>
  <nav
    class="bg-gray-300 dark:bg-gray-800 dark:text-white w-full min-h-12 p-4 px-8 grid grid-cols-3 gap-4"
  >
    <h1>
      <Link to="/" class="text-2xl font-bold text-gray-800 dark:text-gray-200">
        {title}
      </Link>
    </h1>
    <div>
      <!-- Links -->
    </div>
    <!-- Right align -->
    <div class="flex justify-end">
      <!-- Dark mode toggle -->
      <button
        class="p-2 rounded-full focus:outline-none"
        on:click={() => ($darkMode = !$darkMode)}
      >
        <Fa
          icon={faLightbulb}
          size="lg"
          color={$darkMode ? "yellow" : "black"}
        />
      </button>
    </div>
  </nav>
  <div class="bg-gray-200 dark:bg-gray-900 dark:text-white w-full h-full">
    <slot />
  </div>
</div>
