<script lang="ts">
  import "virtual:windi.css";
  import { Router, Route } from "svelte-routing";
  import Fallback from "@/pages/_fallback.svelte";
  import Layout from "@/components/layout.svelte";
  import Home from "@/pages/home.svelte";

  export let url = "";
</script>

<Router {url}>
  <Layout title="Example Site">
    <!-- Routes -->
    <Route path="/" component={Home} />

    <!-- fallback 404 route, must be the last route -->
    <Route component={Fallback} />
  </Layout>
</Router>
